@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-neutral-950 transition-all duration-500 *:transition-all *:duration-500;
}
body:has(#dark:checked) {
  @apply bg-neutral-950 text-white;
}
a {
  @apply underline leading-none underline-offset-2 transition-all duration-150 ease-in-out;
}
a:hover {
  @apply bg-neutral-950 !text-white decoration-neutral-950;
}
body:has(#dark:checked) a:hover {
  @apply bg-white text-black decoration-white;
}
a.exception {
  @apply leading-none underline-offset-2 transition-all duration-150 ease-in-out;
}
a.exception:hover {
  @apply bg-transparent text-neutral-950 decoration-neutral-950;
}
body:has(#dark:checked) a.exception:hover {
  @apply text-white decoration-white;
}
.entry {
  @apply bg-stone-100 p-4 flex flex-col gap-4 justify-between h-full;
}
body:has(#dark:checked) .entry {
  @apply bg-stone-800;
}
.entrycontent {
  @apply flex flex-col gap-4;
}
.buttons {
  @apply flex gap-4;
}
.entry h2 {
  @apply text-xl font-semibold;
}
.entry p {
  @apply text-justify;
}
.subnote {
  @apply text-xs xl:text-sm;
}
.bottom-border {
  @apply border-stone-200;
}
body:has(#dark:checked) .bottom-border {
  @apply !border-stone-700;
}
.bottom-border div {
  @apply prose prose-neutral;
}
body:has(#dark:checked) .bottom-border div {
  @apply prose-invert;
}
footer {
  @apply prose prose-neutral !max-w-none;
}
body:has(#dark:checked) footer {
  @apply prose-invert;
}
.link-text {
  @apply text-blue-900;
}
body:has(#dark:checked) .link-text {
  @apply text-blue-200;
}
