@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-neutral-950 transition-all duration-500 *:transition-all *:duration-500;
}
a {
  @apply underline leading-none underline-offset-2 transition-all duration-150 ease-in-out;
}
a:hover {
  @apply text-neutral-950 bg-white decoration-white;
}
a.exception {
  @apply leading-none underline-offset-2 transition-all duration-150 ease-in-out;
}
a.exception:hover {
  @apply bg-transparent text-white decoration-white;
}
.entry {
  @apply bg-stone-900/90 p-4 flex flex-col gap-4 justify-between h-full;
}
.entrycontent {
  @apply flex flex-col gap-4;
}
.buttons {
  @apply flex gap-4;
}
.entry h2 {
  @apply text-xl font-semibold;
}
.entry p {
  @apply text-justify;
}
.subnote {
  @apply text-xs xl:text-sm;
}
.bottom-border {
  @apply border-stone-700;
}
.bottom-border div {
  @apply prose prose-neutral prose-invert;
}
footer {
  @apply prose prose-neutral !max-w-none prose-invert;
}
.link-text {
  @apply text-blue-200;
}
